ul.Menu {
    font-size: 0px; /* Sin espacio entre opciones */
}
ul.Menu li{ /* Establece tamaño letra */
    font-size:  x-large;
}

/*Estilo de las listas del menu y submenues*/
ul.Menu, ul.Menu li ul {
    padding:0;
    list-style: none;
}

/* Ancho del menu y del submenu */
ul.Menu li a, ul.Menu li ul{
    width: 6em;
}

/* Opciones (y sus bloques)  horizontalmente*/
ul.Menu li{
    display: inline-block;
    vertical-align:top;
}

/*MENU NORMAL*/
ul.Menu li>a {
    color: #ff884d;
    font-weight: bold;
    font-family: "Bradley Hand ITC";
    font-size:  x-large;
    text-decoration: none;
    display: inline-block;
}

/*MENU SELECCIONADO*/
ul.Menu li a:hover{
    color:#cc4400;
}

/* OCULTA SUBMENU por default */
ul.Menu li ul {
    position: absolute;
    background-color: #ffeee6;
    display: none;
}

/*MUESTRA SUBMENU cuando el mouse esta encima del menu*/
ul.Menu li:hover ul{
    display: block;
}
ul.Menu li img{
    margin-top: 10px;
    height: 40px;
    width: auto;
}

/*SUBMENU NORMAL*/
ul.Menu li:hover ul li a{
    color: #ff884d;
    padding: 2px 16px 2px 10px;
}

/*SUMBENU SELECCIONADO*/
ul.Menu li:hover ul li a:hover{
    color: #cc4400;
}

.user{
    color: black;
    font-size: large;
}
	
	
	
	
/* Path: src/main/resources/static/css/style.css */